.tribute-card {
  max-width: 1000px;
  width: 80%;
  margin: 10px auto 70px;
  figure {
    width: 100%;
    margin: 20px 0;
  }
  figcaption {
    font-style: italic;
    font-size: .9em;
  }
  md-card-actions {
    display: flex; 
    justify-content: flex-end
  }
}
.quote-card {
  background: #616161;
  color: white;
  position: relative;
  overflow: hidden;
  padding: 20px;
  padding-left: 50px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(black, 0.12);
  
  p {
    font-size: 22px;
    line-height: 1.5;
    margin: 0;
    max-width: 80%;
  }
  
  cite {
    font-size: 16px;
    margin-top: 10px;
    display: block;
    font-weight: 400;
    opacity: 0.9;
  }
  
  &:before {
    content: "“";
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 64px;
    color: rgba(white, 0.8);
    font-weight: normal;
  }
  
  &:after {
    content: "”";
    position: absolute;
    bottom: -110px;
    line-height: 100px;
    right: -0px;
    font-size: 400px;
    color: rgba(white, 0.8);
    font-weight: normal;
  }
  @media (max-width: 700px) {
    padding: 15px;
    &:before, &:after {
      display: none;
    }

    p {
      font-size: 18px;
      line-height: 1.2;
      max-width: 92%;
    }
    cite {
      font-size: 14px;
      margin-top: 10px;
    }
  }
}